<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.loganalysis.wizard.mapper.ClickHouseTableMapper">

    <select id="selectTables" resultType="java.lang.String">
        SHOW TABLES FROM ${databaseExpression}
    </select>

    <select id="selectTableColumns" resultType="java.util.HashMap">
        DESCRIBE TABLE ${databaseExpression}.${tableExpression}
    </select>

</mapper>
