<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.loganalysis.vector.mapper.VectorLogMapper">

    <select id="selectDistinctFileNames" resultType="java.lang.String">
        SELECT DISTINCT file_name
        FROM vector_logs
        WHERE file_name != ''
        ORDER BY file_name
    </select>

    <select id="selectDistinctMachineIds" resultType="java.lang.String">
        SELECT DISTINCT machine_id
        FROM vector_logs
        WHERE machine_id != ''
        ORDER BY machine_id
    </select>

</mapper>
