<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mw.loganalysis.vector.mapper.VectorLogMapper">

    <select id="selectDistinctHostnames" resultType="java.lang.String">
        SELECT DISTINCT hostname
        FROM vector_logs
        WHERE hostname != ''
        ORDER BY hostname
    </select>

    <select id="selectDistinctIpAddresses" resultType="java.lang.String">
        SELECT DISTINCT ip_address
        FROM vector_logs
        WHERE ip_address != ''
        ORDER BY ip_address
    </select>

</mapper>
